/*Global overrides:*/
:root {
  /*Custom variables:*/
    /*Colors,*/
    --light-accent: color-mix(in srgb, accentcolor 40%, transparent);
    --primary-darker: color-mix(in srgb, -moz-dialog 50%, black);
    --primary-lighter: color-mix(in srgb, -moz-dialog 75%, white);
    /*Splitters,*/
    --horizontal-splitter-thickness: 3px;
    --vertical-splitter-thickness: var(--space-small);
  /*Default overrides:*/
    /*Toolbox colors,*/
    --toolbar-bgcolor: transparent !important; /*default: '-moz-dialog'*/
    /*Other,*/
    --border-radius-medium: var(--border-radius-large) !important; /*this rule controls the roundness of everything. remove it to restore default firefox roundness*/
}

#main-window {
  background-size: cover !important;  /*for adding background-image*/
  background-color: var(--primary-darker) !important; /*have it at --lwt-accent-color when using themes, else set it to something or keep as is*/
}

/*Browser fixes:*/
#browser {
  background-color: unset !important;
  padding-inline: var(--space-small) !important;
  #tabbrowser-tabbox {
    margin-block-end: var(--space-small) !important;
    #tabbrowser-tabpanels {
      background-color: unset !important;
      .browserSidebarContainer {
        padding: 1px !important;
        .browserContainer {
          background-color: -moz-dialog !important;
          border-radius: var(--border-radius-medium) !important;
          .browserStack {
            background-color: unset !important;
            border-radius: var(--border-radius-medium) !important;
            [contextmenu="contentAreaContextMenu"] {
              border-radius: var(--border-radius-medium) !important;
            }
          }
        }
      }
      &[splitview] {
        & .split-view-panel.split-view-panel-active {
          margin: 0 !important;
        }
        :not(.deck-selected) {
          & .browserContainer {
            outline: 0.01px solid var(--chrome-content-separator-color) !important;
          }
        }
      }
    }
  }
  &:not(:has(#tabbrowser-tabs[orient="vertical"])) {
    #sidebar-main {
      margin-inline-end: var(--space-small) !important;
    }
  }
}

findbar {
  border-top: none !important;
}

.devtools-toolbox-bottom-iframe {
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
}

/*URL- and top bar fixes:*/
#navigator-toolbox {
  overflow: hidden !important;
  background-color: -moz-dialog !important;
  margin-inline: var(--space-small) !important;
  margin-block: var(--space-small) !important;
  border-radius: var(--border-radius-medium) !important;
  outline: 0.01px solid var(--chrome-content-separator-color) !important;
  box-shadow: var(--box-shadow-card);
}

/*Tabs fixes:*/
tab {
  box-shadow: vaar(--box-shadow-card) !important;
  .tab-icon-image {
    transition: 0.4s ease-in-out !important;
  }
}

#TabsToolbar {
  margin-inline-start: var(--space-small) !important;
}

#nav-bar {
  border-block-start: none !important;
}

#tabbrowser-tabs[orient="vertical"]:not([expanded]) {
  tab {
    overflow: visible !important;
  }
  .tab-icon-image {
    scale: 1.4 !important;
  }
}

.close-icon {
  &:hover {
    outline: unset !important;
  }
}

/*Sidebar fixes:*/
#sidebar-main, #sidebar-main[sidebar-launcher-expanded] {
  border: none !important;
  background-color: -moz-dialog !important;
  padding-block-start: var(--space-small) !important;
  margin-block-end: var(--space-small) !important;
  border-radius: var(--border-radius-medium) !important;
  outline: 0.01px solid var(--chrome-content-separator-color) !important;
  box-shadow: var(--box-shadow-card);
  :root[lwtheme] & {
    background-image: var(--lwt-additional-images);     /*works better with some themes, worse with others. include after taste*/
    background-repeat: var(--lwt-background-tiling);
    background-position: var(--lwt-background-alignment);
  }
}

#sidebar {
  outline-color: var(--chrome-content-separator-color) !important;
}

/*Buttons:*/
.chromeclass-toolbar-additional .toolbarbutton-icon {
  overflow: visible !important;
}

/*Splitters:*/
.split-view-splitter {
  background-color: unset !important;
  width: var(--space-small) !important;
  border: unset !important;
}

#sidebar-tools-and-extensions-splitter, #vertical-pinned-tabs-splitter {
  background-color: color-mix(in srgb, currentColor 25%, transparent) !important;
  border-radius: var(--border-radius-medium) !important;
  
  height: var(--horizontal-splitter-thickness) !important;
  background-clip: padding-box !important;
  margin-block-end: 0 !important;
  border: none !important;
  &:hover {
    background-color: accentcolor !important;
  }
}

.sidebar-splitter {
  background-color: unset !important;
  width: var(--space-small) !important;
  border: none !important;
  &:hover {
    background-color: unset !important;
  }
}

#sidebar-launcher-splitter {
  margin-inline: 0.5px !important;
}