@-moz-document url("about:home"), url("about:newtab") {
    @layer tokens-foundation {
        :root {
            /*Custom variables:*/
            
            /*Default overrides:*/
            --newtab-background-color-secondary: -moz-dialog !important;
            --newtab-weather-background-color: -moz-dialog !important;
            --newtab-button-static-hover-background: color-mix(in srgb, -moz-dialog 95%, white) !important;
            --newtab-button-static-active-background: color-mix(in srgb, -moz-dialog 90%, white) !important;
            
            /*Some color overrides to replace that stupid blue border with the real accent color*/
            --color-accent-primary: accentcolor !important;
            --color-accent-primary-selected: var(--color-accent-primary) !important;
        }
    }

    /*search bar*/
    #searchSubmit {
        fill: currentColor !important;
        width: 25px !important;
        height: 25px !important;
        top: 13px !important;
        right: 13px !important;
        border-radius: 5px !important;
        &:focus {
            border: none !important;
            box-shadow: unset !important;
        }
        &:is(:hover, :focus) {
            background-color: color-mix(in srgb, currentColor 18%, transparent);
        }
    }
  
    .no-handoff {
        &:has(#searchSuggestionTable:not([hidden])) {
          --border-radius-medium: 8px 8px 0px 0px !important;
        }
    }

    /*search suggestions*/
    #searchSuggestionTable {
        top: 46px !important;
        border: 1px solid var(--newtab-primary-action-background) !important;
        box-shadow:
            2px 0 0 0 var(--newtab-primary-action-background-dimmed),
            -2px 0 0 0 var(--newtab-primary-action-background-dimmed),
            0 2px 0 0 var(--newtab-primary-action-background-dimmed) !important;
        border-radius: 0px 0px 8px 8px !important;
        border-top: none !important;
    }
}