/*Global overrides:*/
:root {
  /*Custom variables:*/
    /*Colors,*/
    --box-shadow-card-inverted: 0 -0.25px 0.75px var(--box-shadow-color-lighter-layer-1), 0 -2px 6px var(--box-shadow-color-lighter-layer-2);
  /*Default overrides:*/
    /*Other,*/
}

/*Browser fixes:*/
#browser {
  background-color: unset !important;
  padding-inline: var(--space-small) !important;
  #tabbrowser-tabbox {
    margin-block-end: var(--space-small) !important;
    #tabbrowser-tabpanels {
      background-color: unset !important;
      .browserSidebarContainer {
        padding: 1px !important;
        .browserContainer {
          background-color: -moz-dialog !important;
          border-radius: var(--border-radius-medium) !important;
          .browserStack {
            background-color: unset !important;
            border-radius: var(--border-radius-medium) !important;
            [contextmenu="contentAreaContextMenu"] {
              border-radius: var(--border-radius-medium) !important;
            }
          }
        }
      }
      &[splitview] {
        & .split-view-panel.split-view-panel-active {
          margin: 0 !important;
        }
        :not(.deck-selected) {
          & .browserContainer {
            outline: 0.01px solid var(--chrome-content-separator-color) !important;
          }
        }
      }
    }
  }
  :not(.browser-toolbox-background) {
    :root[lwtheme] & {
      background-color: unset !important;
    }
  }
  &:not(:has(#tabbrowser-tabs[orient="vertical"])) {
    #sidebar-main {
      margin-inline-end: var(--space-small);
      &[sidebar-positionend] {
        margin-inline-start: var(--space-small) !important;
      }
    }
  }
}

findbar {
  border-top: none !important;
}

.devtools-toolbox-bottom-iframe {
  border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
}

/*URL- and top bar fixes:*/
#navigator-toolbox {
  overflow: hidden !important;
  margin-inline: var(--space-small) !important;
  margin-block: var(--space-small) !important;
  border-radius: var(--border-radius-medium) !important;
  outline: 0.01px solid var(--chrome-content-separator-color) !important;
  box-shadow: var(--box-shadow-card);
}

#TabsToolbar {
  padding-inline-start: var(--space-xsmall) !important;
  box-shadow: var(--box-shadow-card-inverted) inset !important;
}

#nav-bar {
  border-block-start: none !important;
}

#urlbar {
  .urlbar-background {
    box-shadow: var(--box-shadow-card) inset !important;
  }
  &[open] .urlbar-background {
    box-shadow: var(--box-shadow-card) !important;
  }
}

/*Tabs fixes:*/
tab {
  .tab-icon-image {
    transition: 0.4s ease-in-out !important;
  }
}

#tabbrowser-tabs[orient="vertical"]:not([expanded]) {
  tab {
    overflow: visible !important;
  }
  .tab-icon-image {
    scale: 1.4 !important;
  }
}


.close-icon {
  &:hover {
    outline: unset !important;
  }
}

/*Sidebar fixes:*/
#sidebar-main, #sidebar-main[sidebar-launcher-expanded] {
  border: none !important;
  background-color: var(--toolbox-bgcolor) !important;
  padding-block-start: var(--space-small) !important;
  margin-block-end: var(--space-small) !important;
  border-radius: var(--border-radius-medium) !important;
  outline: 0.01px solid var(--chrome-content-separator-color) !important;
  box-shadow: var(--box-shadow-card);
  &:-moz-window-inactive { 
    background-color: var(--toolbox-bgcolor-inactive) !important;
  }
}

#sidebar {
  outline-color: var(--chrome-content-separator-color) !important;
}

/*Buttons:*/
.chromeclass-toolbar-additional .toolbarbutton-icon {
  overflow: visible !important;
}

/*Splitters:*/
.split-view-splitter {
  background-color: unset !important;
  width: var(--space-small) !important;
  border: unset !important;
}

#sidebar-tools-and-extensions-splitter, #vertical-pinned-tabs-splitter {
  background-color: color-mix(in srgb, currentColor 25%, transparent) !important;
  border-radius: var(--border-radius-medium) !important;
  
  height: 3px !important;
  background-clip: padding-box !important;
  margin-block-end: 0 !important;
  border: none !important;
  &:hover {
    background-color: accentcolor !important;
  }
}

.sidebar-splitter {
  background-color: unset !important;
  width: var(--space-small) !important;
  border: none !important;
  &:hover {
    background-color: unset !important;
  }
}

#sidebar-launcher-splitter {
  margin-inline: 0.5px !important;
}
